---
layout: page
title: Truth-telling 
css: "/css/index.css"
bigimg: "/img/website_title_figure_wide3.png"
---

<h3> Roll a die in private. Report your roll. We pay you whatever you report in $/€/£. </h3> 

<p>The decision whether to lie or to tell the truth is at the heart of many everyday activities, for example, when a self-employed shopkeeper reports her income to the tax authorities or when XXX more everyday example. It is very difficult to find out how much people lie in such situations, since the truth is not known. Recently, cleverly-designed experiments have been used to find out. This website documents what people do in one particularly clever experiment, introduced by Fischbacher & Föllmi-Heusi (2013): subjects privately roll a die or flip a coin. They then report the outcome and receive a monetary payoff equal to their report. 
While no individual report can be identified as truthful or not, the researcher can judge the reports of a group of subjects. There is no possibility of detecting a false report and XXX only subject’s conscience is holding </p>

<p>We combine data from XXX treatments that use such a setup involving more than XXX subjects across XXX countries. These treatments were conducted by many different researchers. We find the following: 

<h5>Finding 1: Subjects forgo a large part of the potential gains from lying.</h5>



<p>In Figure 1 each circle shows the average report of one treatment. If a circle is further up, it signifies that the subjects in this treatment reported higher outcomes. The size of the circle indicates the number of subjects in that treatment. You can get more information about the treatments by hovering over the graph or by clicking on a circle. You can also restrict the figure to only certain kinds of treatments, for example, only treatments from your country.</p>



<iframe src="https://livedataoxford.shinyapps.io/experimental_economics_iframe1" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>Since some studies use dice-rolling and others coin-flipping, we need to make the studies comparable. We thus map all reports into a “standardized report” which is -1 if a subject reports the lowest-payoff outcome (e.g., 1 on a die) and +1 if they report the highest-payoff outcome (e.g., 6 on a die). If everyone reported truthfully, the standardized report would be 0. On the horizontal axis, the maximal monetary gains from lying are shown.

<p>If subjects had no concerns about lying, they would all report the maximal outcome and all circles would be at the top of the graph, at +1. In contrast, we find that the average standardized report is only XXX. This means that subjects forego about three-quarters of the potential gains from lying and leave quite a bit of money on the table. </p>

<p>Figure 1 also shows that subjects continue to refrain from lying maximally when the monetary incentives to lie are increased. From left to right in the figure, the potential payoff from misreporting ranges from a few cents to 50 USD, i.e., a 500-fold increase. The reporting behavior, however, does not change: the circles are equally high on the left and on the right of the graph. This means that subjects lie roughly similar when they can obtain small or large amounts of money from lying. </p>

<p>The second tab of figure 1 shows that the distribution of reports is also unaffected when the monetary incentives to lie are increased.</p>

<iframe src="https://livedataoxford.shinyapps.io/experimental_economics_iframe2" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>


<h4>Finding 2: In almost all treatments, all outcomes are reported. </h4>



<p>Figure 2 shows the distribution of reports for all experiments using six-sided die rolls. You can again get more information by clicking on the graph or using the filters. </p>

<p>Each line corresponds to one treatment and the size of the bubbles is proportional to the number of subjects in that treatment. The higher the circle, the more subjects make this report. If the line is at zero, it means that no subject made this report. The dashed line indicates the truthful distribution: each outcome occurs with 1/6 chance. As you can see, almost no line is at zero. This means that all possible reports are made in almost all treatments – even the reports that lead to very low monetary payoff.</p>


Finding 3: The probability of reporting a given outcome is increasing in its payoff.

<p>Note that all lines are increasing from left to right. This means that subjects are more likely to report outcomes that lead to a higher payoff. Some subjects are lying upwards.</p>


Finding 4: Some non-maximal-payoff states are reported more often than their true likelihood.


<p>Interestingly, some reports that do not yield the maximal payoff are reported more often than their truthful probability. Take the second highest report, i.e., the second circle from the right. It is above the truthfulness line for almost all treatments. This means that some subjects lie – but not all the way to the maximal outcome. There are many different reasons why this could be. Subjects might think that reporting a six on a die could lead to suspicion. Or maybe subjects didn’t want to lie too far away from their true number. We discuss the possible motivations driving the observed behavior on the page further reading. </p>

<p>The other tabs of Figure 2 show the distributions of coin flips and other experiments with uniform distributions of 3 or 10 potential outcomes. </p>

- iframe 4 here - 


Finding 5: Men report higher numbers than women.


<p>Figure 3 shows the effect of gender. On the horizontal axis is the average report of the male subjects and on the vertical axis is the average report of the female subjects. Each circle thus represents one treatment. If a circle is below the 45° line, it means that men reported higher numbers than women in a given treatment. The size of the circle again indicates the number of subjects in that treatment. 
The majority of circles is below the 45° line, indicating that female subjects report lower numbers than male subjects. On average, women report 0.06 less than men (who report XXX on average). The second tab of Figure 4 shows the distribution by gender of all die-rolling treatments (“M” for male and “F” for female). Men are generally less likely to report lower outcomes and more likely to report higher outcomes. More details on the gender effect can be found in Appendix A of the research paper.</p>



 - iframe 3 here - 



Finding 6: Behavior is surprisingly similar across countries.

<p>Figure 4 plots the average reports by country. The world map shows that this kind of experiment has been conducted around the world. The darker (more red) the color of a country is, the higher the average report in this country. The second tab of Figure 4 shows more details. The country average is marked by a cross. In no country do all subjects lie maximally. The standardized report is maximally around 0.5. This means that even in the countries with the biggest amount of lying, people still forgo half of the potential gains from lying. </p>



- iframe 5 here - 

Finding 7: Behavior does not change if subjects make many reports repeatedly. 

<p>In Figure 5, the horizontal axis shows how often subjects have to report an outcome and how the reports of subjects evolve over the course of the experiment. In most experiments, subjects only report once, these are all the circles at “1”. But in many experiments, subjects report repeatedly, up to 60 times. The average behavior does not change over time. This means that learning about the experiment and experience with reporting do not affect how people report. </p>

- iframe 6 here - 


Finding 8: In repeated experiments, only very few subjects always report the payoff-maximzing outcome.

<p>So far, we could not judge the behavior of any individual subject. If they report a “six”, maybe they are indeed honest and just got lucky. However, if one subjects reports many times, it is increasingly unlikely that they got “lucky” every time. For repeated experiments, we can thus judge the behavior of individual subjects to some extent. </p>

<p>In Figure 5 we focus on experiments in which subjects repeatedly report the outcome of a coin flip. We add up the number of times a subject reported the winning side of the coin. To make experiments with different numbers of rounds comparable, we plot the share of the potential high-payoff reports on the horizontal axis and the difference between the observed distribution and the truthful distribution on the vertical axis. If a subject had no concern about lying or about being seen as a liar, they should always report the winning side of the coin. They would thus be at the very right end of the horizontal axis. It is extremely unlikely that such a reporting pattern could have resulted from truth-telling: for some of the experiments shown, the chance is less than 0.0000000001%. 
As one can see in the figure, some subjects do always report the high-payoff state: the circles are above the truthfulness line. Overall, this is, however, done by fewer than 1 in 20 subjects. The size of the circles again indicates the number of subjects. The vast majority of circle area is in the middle of the graph: subjects report a little more than their true number and only few subjects always (or even very often) report the winning side. </p>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
